@import url('./reset.css');

input[type='text'] {
  width: 272px;
  height: 40px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #808080;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-right: 8px;
  margin-bottom: 32px;
}

input[type='text']:hover {
  border: 1px solid #000;
}

input[type='text']:focus-visible {
  border: 1px solid #4e75ff;
}

button[type='submit'] {
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  height: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4e75ff;
}

button[type='submit']:hover {
  background: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 24px;
  max-width: 1128px;
}

.gallery-image {
  width: 360px;
  height: 200px;
}

.sm-wrapper {
  background: rgba(46, 47, 66, 0.8);
}
